@media only screen and (max-width : 825px) {
    
#click{
    display: none;
}
.footer-icons{
 position: relative;
 left:8rem;
}
.footer-h{
   font-size: small;
   margin-left:2rem;
}

.banner-img{
    height: 330px;
    margin-top: 2rem;
}
.upper-head{
    margin-left: -80px;
}
.banner-head1{
    width: 500px;
}
.banner-btn{
    margin-left: -60px;
}
.course-sec{
    height: 65rem;
    padding: 12px;
}
.card{
margin-left: 3rem;
}

#about{
    height:80rem;
}
#about-footer{
margin-top:28rem;
}
#about-head{
    position: relative;
    left: 4rem;
    width: 40rem;
}
.card-box{
    height:700px;
}
#achivement{
    height:55.5rem;
}
#achive-footer{
    margin-top:15rem;
}
}


@media only screen and (max-width : 770px) {
    #about-head{
        position: relative;
        left: 2.3rem;
    }
    #about{
        height:93rem;
    }
    #about-footer{
        margin-top:32rem;
        height:10rem;
    }
    .banner-img{
        margin-left: -20px;
    }
    .contact-para{
        font-size: smaller;
    }
    #footer{
        height:10rem;
    }
    .footer-h{
        margin-top:7rem;
    }
    .footer-icons{
        margin-left:-24rem;
    }
    .logo{
        width:200px;
    }
    #achivement{
        height:55rem;
    }
    #achive-footer{
        height: 10rem;
    }
}

@media only screen and (max-width : 420px) {
    .banner-head1{
        width: 400px;
        text-align: center;
        margin-top: 15rem;
    }
    .upper-head{
    position: absolute;
    top:14rem;
    left:10rem;
    }
    .banner-head2{
        text-align: center;
        margin-top: 1rem;
    }
    .banner-sec{
        height:65rem;
    }
    #footer{
        margin-top:24rem;
        height:12rem;
    }
    .footer-h{
        font-size: small;
        margin-left:-2rem;
    }
   .banner-btn{
    margin-left: -28px;
   }
    .banner{
        margin-left: -10px;

    }
   
    .course-sec{
        height: 123rem;
    }
    .course-sec-head{
        font-size: 24px;
    }
    #about{
        height:101rem;
    }
    #about-footer{
        margin-top:41rem;
        height: 12rem;
    }
    #about-head{
        position: relative;
        left: -1.7rem;
        width: 414px;
    }
    .about-img{
        height: 240px;
        margin-left: -4px;
    }
    #contact{
        height:92rem;
    }
    #al-footer{
        height: 12rem;
        margin-top:5em;
    }
    #achivement{
        height:100rem;
    }
    #achive-footer{
        margin-top:60rem;
        height: 12rem;
    }
    #achivement > div > div:nth-child(n){
        margin-left:2rem;
    }
    .item{
        margin-left:4rem;
        margin-top: 2rem;
    }
    #alumni{
        height:46rem;
    }
    
    

/* nav bar */
.nav-bar ul{
    padding:8px;
    position: fixed;
    height:30vh;
    width: 100%;
    display:block;
    top: 42px;
    left: 0;
    text-align: center;
    background-color:darkgreen;
    left: -100%;
    transition: all .4s ease;
}
.check-btn{
    display: block;
}
.nav-bar ul li{
    display: block;
   
}
ul li a{
    font-size: larger;
}
#click:checked ~ ul{
    left: 0;
}
    
}
@media only screen and (max-width : 380px) {
    .about-img{
        height: 220px;
        margin-left: -8px;
    }
    #about{
        height:110rem;
    }
    #about-footer{
        margin-top:50rem;
    }
    .item{
        margin-left:2rem;
    }
}
@media only screen and (max-width : 280px){
    .upper-head{
       margin-left:-8.5rem;
    }
    .banner-head1{
        margin-left:-.5rem;
        width:290px;
    }
    .banner-head2{
        margin-left: -.5rem;
       
    }
    .banner-btn{
        margin-left: -5.5rem;
    }
    .banner-img{
        height:240px;
        
    }
   
    #course > div > div:nth-child(n) > div{
        margin-left:-1.2rem;
    }
    .about-img{
        height:160px;
    }
    .contact-img{
        height: 160px;
    }
    #footer{
        height:18rem;
    } 
   .footer-ul{
    position: relative;
    top:6rem;
    height:20px;
   }
   #about{
    height: 130rem;
   }
   #about-footer{
    margin-top:64rem;
    height: 18rem;
   }
   #alumni{
    height: 50rem;
   }
   #al-footer{
    height: 18rem;
   }
   #al-footer .footer-h{
    margin-top:8rem;
    padding: 4px;
    
   }
   .item{
    margin-left:-1rem ;
   }
   #achivement{
    height:110rem;
   }
   #achive-footer{
    height: 18rem;
    margin-top:62rem;
   }
   #achive-footer .footer-h{
    margin-top:8rem;
    padding: 4px;
    
   }
   #achivement > div > div:nth-child(n){
    margin-left:-2rem;
   }
}