@media only screen and (max-width : 825px) {
    
#click{
    display: none;
}
.footer-icons{
 position: relative;
 left:8rem;
}
.banner-img{
    height: 330px;
    margin-top: 2rem;
}
.upper-head{
    margin-left: -80px;
}
.banner-head1{
    width: 500px;
}
.banner-btn{
    margin-left: -60px;
}
.course-sec{
    height:73rem;
    padding: 12px;
}
#course-footer{
    margin-top:30rem;
}
.card{
margin-left: 3rem;
}

#about{
    height:95em;
}
#about-footer{
margin-top:28rem;
}
#about-head{
    position: relative;
    left: 4rem;
    width: 40rem;
}
.card-box{
    height:700px;
}
#achivement{
    height:100rem;
}
#achivement > div.row{
    margin-left:2rem;
}
#achive-footer{
    margin-top:15rem;
}
#achive-footer{
    margin-top:33rem;
}
#achivement > div.heritage > div > div:nth-child(1) > img{
    width:100%;
    height:400px;
    margin-top:3rem;
}
#faq-footer{
    margin-top:2rem;
}
#footer{
    position: absolute;
    top:235rem;
}
.login-sec{
  margin-left: 5rem;
}

}
@media only screen and (max-width : 770px) {
    #about-head{
        position: relative;
        left: 2.3rem;
    }
    #about{
        height:93rem;
    }
    #about-footer{
        margin-top:32rem;
        height:10rem;
    }
    .banner-img{
        margin-left: -20px;
    }
    .contact-para{
        font-size: smaller;
    }
    #course-footer{
        height: 10rem;
    }
    #footer > a > div{
        margin-left:-12rem;
    }
    .adress-head{
        margin-left:4rem;
    }
    #contact-footer{
        height: 14rem;
    }
    .footer-ul{
        margin-left:-5px;
    }
    
    #achive-footer > div > a:nth-child(1) > i{
        margin-left:-25px;
    }
    #faq-footer > div > a:nth-child(1) > i{
        margin-left:-25px;
    }
    #about-footer > div > a:nth-child(1) > i{
        margin-left: -25px;
    }
    #course-footer > div > a:nth-child(1) > i{
        margin-left: -25px;
    }
    #contact-footer > div > a:nth-child(1) > i{
        margin-left: -25px;
    }
    .logo{
        width:200px;
    }
    #achivement{
        height:95rem;
    }
    #achive-footer{
        height: 10rem;
    }
    #faq-footer{
        height: 10rem;
    }
    #al-footer{
        height:14rem;
    }
    #al-footer > div > a:nth-child(1) > i{
        margin-left:-2rem;
    }
}

@media only screen and (max-width : 420px) {
    .banner-head1{
        width: 400px;
        text-align: center;
    }
    #contact-footer{
        margin-top:2rem;
    }
    .upper-head{
    position: absolute;
    left:10rem;
    }
    .banner-head2{
        text-align: center;
        margin-top: 1rem;
    }
    .banner-sec{
        height:50rem;
    }
    #footer{
        margin-top:100rem;
        height:30rem;
        
    }
    #footer > div.footer-icons > a:nth-child(1) > i{
        margin-top:15rem;
        margin-left:14rem;
    }
    .info-head{
        margin-top:14rem;
        margin-left:-8rem;
    }
    #footer > div.info.mt-3 > ul > li:nth-child(n){
        margin-left:-10rem;
    }
    .adress-head{
        margin-left:12rem;
    }
    #footer > a > div{
        margin-left:-112px;
    }
    .form-sec{
        margin-left:1rem;
    }
    .card-box{
        height:35rem;
    }
   
   .banner-btn{
    margin-left: -28px;
   }
    .banner{
        margin-left: -10px;

    }
   
    .course-sec{
        height:135rem;
    }
    #course-footer{
        margin-top:90rem;
        height: 12rem;
    }
    .course-sec-head{
        font-size: 24px;
    }
    #about{
        height:70rem;
    }
    #about-footer{
        margin-top:41rem;
        height: 12rem;
    }
    #about-head{
display: none;
        /* width:10px;
        margin-left:-50rem; */
    }
    #about > div > div:nth-child(1){
        width:0px;
    }
    .about-img{
        height:250px;
        margin-left:-6.2rem;
    }
    #about > div > div:nth-child(2){
        width:0px;
    }
    #contact{
        height:85rem;
    }
    #al-footer{
        height: 12rem;
        margin-top:5em;
    }
    #achivement{
        height:172rem;
    }
    #achive-footer{
        margin-top:105rem;
        height: 12rem;
    }
    
    .item{
        margin-left:4rem;
        margin-top: 2rem;
    }
    #alumni{
        height:46rem;
    }
    #faq{
        height: 45rem;
    }
    #faq-footer{
        height: 12rem;
        margin-top:7rem;
    }

    .login-sec{
       width:25rem;
        margin-left:-1rem;
    }
    .form-input{
        width:20rem;
    }
    

/* nav bar */
.nav-bar ul{
    padding:8px;
    position: fixed;
    height:30vh;
    width: 100%;
    display:block;
    top: 42px;
    left: 0;
    text-align: center;
    background-color:darkgreen;
    left: -100%;
    transition: all .4s ease;
}
.check-btn{
    display: block;
}
.nav-bar ul li{
    display: block;
   
}
ul li a{
    font-size: larger;
}
#click:checked ~ ul{
    left: 0;
}
    
}
@media only screen and (max-width : 380px) {
    .about-img{
        height: 220px;
        margin-left: -8px;
    }
    #about{
        height:110rem;
    }
    #about-footer{
        margin-top:50rem;
    }
    .item{
        margin-left:2rem;
    }
    #achivement > div.row > div:nth-child(n){
        margin-left:-1.2rem;
    }
    .banner-head1{
        margin-left:-2rem;
    }
    .banner-head2{
        text-align: left;
    }
    .upper-head{
        margin-left:-9rem;
    }
    .banner-img{
        height:320px;
    }
    .banner-btn{
        margin-left: -8rem;
    }
    .footer-h{
        width: 220px;
    }
    #achivement > div.row > div:nth-child(n){
        margin-left:-2rem;
    }
    .heriatge{
        background-color: limegreen;
    }
    #achive-footer{
        margin-top:110rem;
        height:16rem;
    }
    .login-sec{
        width:22rem;
    }
    .form-input{
        width:18rem;
    }
}
@media only screen and (max-width : 280px){
    .upper-head{
       margin-left:-8.5rem;
    }
    .banner-head1{
        text-align: left;
        margin-left:2px;
        width:260px;
    }
    .banner-btn{
        margin-left: -5.5rem;
    }
    .banner-img{
        height:240px;
        
    }
    .banner-sec{
        height:45rem;
    }
    .card-box{
        height:25rem;
    }
    #contact{
        height:70rem;
    }
   #course-footer{
    height: 18rem;
   }
    #course > div > div:nth-child(n) > div{
        margin-left:-1.2rem;
    }
    .about-img{
        height:160px;
    }
    .contact-img{
        height: 160px;
    }
    #footer{
        height:18rem;
        margin-top:32rem;
    } 
   .footer-ul{
    position: relative;
    top:6rem;
    height:20px;
    font-size: small;
   }
   .footer-h{
    margin-left:-80px;
    margin-top:8rem;
   }
   #course-footer > div > a:nth-child(1) > i{
    margin-left:-28px;
   }
   #course-footer > a > div{
    margin-left:20px;
   }
   #about{
    height: 130rem;
   }
   #contact-footer{
    height: 16rem;
   }
   #about-footer{
    margin-top:64rem;
    height: 18rem;
   }
   #alumni{
    height: 50rem;
   }
   #al-footer{
    height: 18rem;
   }
   #al-footer .footer-h{
    margin-top:8rem;
    padding: 4px;
    
   }
   .item{
    margin-left:-1rem ;
   }
   #achivement{
    height:195rem;
   }
   .heritage-head{
    margin-left: 1.2rem;
   }
   .heritage-para{
    margin-left:1.2rem;
   }
   #achivement > div.row > div:nth-child(n){
    margin-left:-4.5rem;
}
   #achive-footer{
    height: 18rem;
    margin-top:120rem;
   }
   #achive-footer .footer-h{
    margin-top:8rem;
    padding: 4px;
    
   }
   #achivement > div > div:nth-child(n){
    margin-left:-2rem;
   }
   #faq-footer{
    height: 18rem;
    margin-top:10rem;
   }
   #faq{
    height:60rem;
   }
   .login-sec{
    width:16rem;
}
.form-input{
    width:13.5rem;
}#contact-footer > h6{
    margin-top:8rem;
    padding:10px;
}
#contact-footer > div > a:nth-child(1) > i{
    margin-left:-30px;
}
}