*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    background-color: limegreen;
    width:100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 2px 2px rgb(90, 54, 54);
    position: fixed;
    z-index: 1;
}
.logo-link{
    text-decoration: none;
}
.logo{
    padding: 8px;
    color: white;
    font-weight: bolder;
}
ul{
    display: flex;
    list-style: none;
}
ul li{
    padding: 8px;
    display: inline-block;    
}
ul li a{
    color: white;
    text-decoration: none;
}
ul li a:hover{
    text-decoration: underline;
    color:rgb(90, 54, 54);
}
.check-btn{
    font-size: 32px;
    display: none;
}
#click{
    display: none;
}
/* bnanner section */

.banner-sec{
    background-color:limegreen;
    width: 100%;
    height:39rem;
    box-shadow: 0px 2px 2px rgb(90, 54, 54);
}
#banner-span{
    text-shadow: 2px 0px 2px  rgb(90, 54, 54);
    font-weight: 600;
}
.banner-head1{
    color: white;
    font-family: 'Roboto', sans-serif;
   margin-top: 6rem;
}

.upper-head{
    position: absolute;
    top: 6rem;
    left: 8rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px rgb(90, 54, 54);
}
.banner-head2{
    color: white;
    position: relative;
    left: 1rem;
    top: -1.5rem;
}
.banner-btn{
    outline: none;
    border: none;
    padding: 4px;
    position: relative;
    left: 10rem;
    color: limegreen;
    font-weight: bolder;
    transition: transform;
    transition: background-color;
    transition-duration: 1s;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out alternate;
    animation-delay: 2s;
}
@keyframes anime {
   
    0%{
        /* transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        box-shadow: 0px 40px 10px -18px  rgb(90, 54, 54), 0 40px 16px -12px  rgb(90, 54, 54); */
        top: 0px;
        
    }
    25%{
        top: 0px;
    }
    50%{
        top: 15px;
    }
    75%{
        top: 15px;
        box-shadow: 10px 5px 10px -18px  #035503, 0 40px 16px -12px  #047204;
    }
    100%{
        top: 0px;
        
    }
}
.banner-btn:hover{
background-color:limegreen;
color: white;
}
.banner-btn:active{
    transform: scale(.90);
}
.banner-img{
    height: 400px;
}

/* Course Section */
.course-sec{
    background-color:#32cd32;
    width: 100%;
    height: 40rem;
    box-shadow: 0px 2px 2px rgb(90, 54, 54);
}
.course-sec-head{
    color: white;
    text-shadow: 2px 2px 2px  rgb(90, 54, 54);
    position: relative;
    top:45px;
    font-family: 'Roboto', sans-serif;
}
.card{
    margin-top: 3rem;
    font-family: 'Roboto', sans-serif;
    
}
.card-body{
    border-radius: 0px;

    box-shadow: inset 5px 5px 13px #269c26,
                inset -5px -5px 13px #2ea02e;
  background-color: #089408;
  height: 200px;

}
.cyb-img{
    height:13.5rem;

}
.card-title{
    color: white;
    text-shadow: 2px 2px 2px  rgb(90, 54, 54);
}
.card-text{
    color: white;
}
.card-btn{
    outline: none;
    border: none;
    padding: 4px;
    color: limegreen;
    font-weight: bolder;
    transition: transform;
    transition: background-color;
    transition-duration: 1s;
    font-family: 'Roboto', sans-serif;
    
}
.card-btn:hover{
    background-color:limegreen;
    color: white;
    }
    .card-btn:active{
        transform: scale(.90);
    }

/* About Section */
#about{
    background-color:#32cd32;
    width: 100%;
    height:52rem;
    box-shadow: 0px 2px 2px rgb(90, 54, 54);
}
#about-footer{
    background-color:limegreen;
    box-shadow: 4px 4px 6px 8px rgb(90, 54, 54);
    height:8.5rem;
    width:100%;
    position: absolute;
    top:50rem;
    display: flex;
    justify-content: space-around;
}
.about-h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px rgb(90, 54, 54);
}
#about-head{
    width: 37rem;
    padding: 1rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px rgb(90, 54, 54);
    background-color: #089408;
}
.about-img{
    background-color:rgb(90, 54, 54);
}
.about-btn{
    outline: none;
    border: none;
    padding: 4px;
    color: limegreen;
    font-weight: bolder;
    transition: transform;
    transition: background-color;
    transition-duration: 1s;
    font-family: 'Roboto', sans-serif;
}

.about-btn:hover{
    background-color:limegreen;
    color: white;
    }
    .about-btn:active{
        transform: scale(.90);
    }
.why-h1{
    color: white;
    text-shadow: 0px 2px 2px  rgb(90, 54, 54);
    font-family: 'Roboto', sans-serif;
}
.why-card{
    color: white;
    text-shadow: 2px 2px 0px  rgb(90, 54, 54);
    width: 36rem;
    text-align: justify;
    font-size:larger;
    font-family: 'Roboto', sans-serif;
    background-color: #089408;
    padding: 15px;
    
}

.lists{
    list-style: square;
}

/* Contact Page Starts Here */
#contact{
    height: 40rem;  background-color:#32cd32;
    width: 100%;
    height: 48rem;
    box-shadow: 2px 2px 2px rgb(90, 54, 54);

}
.card-box{
    height:570px;
    width:max-content;
    margin-left:6rem;
    box-shadow: 4px 2px 4px 4px rgb(90, 54, 54);
    margin-top:2rem;
}
.mail-icon{
    color: white;
    margin-top: 4px;
    position: relative;
    top: 10px;
    font-size: 40px;

}
.contact-head{
    color: white;
    text-shadow: 2px 2px 2px  rgb(90, 54, 54);
    margin-top: -50px;
    }
.contact-para{
    color: white;
    text-shadow: 2px 2px 2px  rgb(90, 54, 54);
    width:480px;
}
.contact-head2{
    color: white;
    text-align: left;
    margin-left: 2px;
}
.contact-icon{
    color: white;
    font-size:30px;
    border: 2px solid   rgb(90, 54, 54);
    border-radius: 50%;
    padding: 4px;
    position: relative;
    top:-1rem;    
}

.form-sec{
    margin-top:3rem;
    color: white;
    font-size: large;
    text-align: left;
    text-shadow: 2px 2px 2px rgb(90, 54, 54);
    margin-left:-2rem;
}

.form-head{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    text-shadow: 2px 2px 2px rgb(90, 54, 54);
}
.form-btn{
    outline: none;
    border: none;
    padding: 4px;
    color: limegreen;
    font-weight: bolder;
    transition: transform;
    transition: background-color;
    transition-duration: 1s;
    font-family: 'Roboto', sans-serif;
    margin-left: 40%;
}
.form-btn:hover{
    background-color:limegreen;
    color: white;
    }
    .form-btn:active{
        transform: scale(.90);
    }
/* FOOTER SECTION */
#footer{
    background-color:limegreen;
    box-shadow: 4px 4px 6px 8px rgb(90, 54, 54);
    height:8.5rem;
    width:100%;
    position: absolute;
    top:31rem;
    display: flex;
    justify-content: space-around;
}

.footer-ul{
    display: flex;
    flex-direction: column;
    /* margin-left:-22rem; */
}
.foot-lists a{
   list-style: circle;
   font-family: 'Roboto', sans-serif;
   
}
.footer-icons{
    display:flex;
    height:20px;
    padding:10px;
    margin-left:-20rem;
}
.footer-h{
color: white;
margin-top:6rem;
margin-left: -5rem;

}

.footer-icons:hover{
cursor: pointer;
}
/* CARSOUEL */
.owl-theme{
    margin-top:2rem;
}
#alumni{
    background-color: limegreen;
    height:39rem;
}
.alumni-head{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px rgb(90, 54, 54);
}
.alumni-btn{
    outline: none;
    border: none;
    padding: 4px;
    color: limegreen;
    font-weight: bolder;
    transition: transform;
    transition: background-color;
    transition-duration: 1s;
    font-family: 'Roboto', sans-serif;
    margin-left: 30%;
}
.alumni-btn:hover{
    background-color:limegreen;
    color: white;
    }
    .alumni-btn:active{
        transform: scale(.90);
    }
    #al-footer{
        background-color:limegreen;
        box-shadow: 4px 4px 6px 8px rgb(90, 54, 54);
        height:8.5rem;
        width:100%;
        position: absolute;
        top:31rem;
        display: flex;
        justify-content: space-around;
    }
/* ACHIVEMENT ARAE */
#achivement{
    background-color: limegreen;
    height: 39rem;
}
.achive-head{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px rgb(90, 54, 54);
}
.achive-img{
    height:30rem;
}
.achive-h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px rgb(90, 54, 54);
    margin-top:4rem;
    margin-left:4rem;
}

.achive-icons{
    font-size:30px ;
}
.card-achive{
    border-radius: 0px;
background: #32cd32;
box-shadow: inset 5px 5px 1px #228b22,
            inset -5px -5px 1px #42ff42;
}
.card-body-achive{
    border-radius: 0px;
background: #32cd32;
box-shadow: inset 5px 5px 1px #228b22,
            inset -5px -5px 1px #42ff42;
            padding: 10px;
}
#achive-footer{
    background-color:limegreen;
    box-shadow: 4px 4px 6px 8px rgb(90, 54, 54);
    height:8.5rem;
    width:100%;
    position: absolute;
    top:31rem;
    display: flex;
    justify-content: space-around;
}
/* FAQ SECTION */
#faq{
    background-color: limegreen;
    height:39rem;
}